# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=wallet_db
DB_USERNAME=wallet_user
DB_PASSWORD=wallet_pass

# JWT
JWT_SECRET=your_base64_encoded_secret_minimum_256_bits
JWT_EXPIRATION=86400000

# App
APP_PORT=8080
SPRING_PROFILE=dev

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=wallet_rabbit
RABBITMQ_PASSWORD=wallet_rabbit_pass
RABBITMQ_VHOST=/